* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI';
  background-color: black;
  
}
.first-section {
  background-color: #421983;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  
}
.logo {
  display: flex;
  font-weight: bold;
  margin-left: 70px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #1A1A1A;
  padding:13px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  line-height:30px;
}
.nav-links {
  color: #a1a6af;
  display: flex;
  gap: 30px;
  list-style: none;
  cursor: pointer;
}
.nav-links li:hover,
.nav-links .dropdown-label:hover {
  color: white;
}
.dropdown-label i {
  margin-left: 4px;
  font-size: 12px;
}
.nav-links li i.fa-up-right-from-square {
  font-size: 13px;
    margin-left: 4px;
}
 .badge {
  background-color: #10E2B0;
  color: white;
  font-size: 10px;
  padding: 3px;
  border-radius:8px;
  margin-left: 4px;
}
.language-text {
  color: #a1a6af;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
 }
.language-text:hover {
  color: white;
}
.login-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.signup-btn {
  background: #00B386;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 35px;
}
.dropdown {
  position: relative;
}
.dropdown-product {
  display: none;
  position: absolute;
  background-color: #1A1A1A;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 20px;
  z-index: 100;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.dropdown-product a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}
#products-toggle:checked + .dropdown-label + .dropdown-product {
  display: block;
}
.dropdown-resources {
  display: none;
  position: absolute;
  background-color: #1A1A1A;
  color: white;
  top: 100%;
  left: 0;
  width: 700px;
  gap: 40px;
  padding: 30px;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border-radius: 6px;
}
.resource-col h4 {
  margin: 12px 0 4px;
  font-size: 15px;
  font-weight: bold;
}
.resource-col p {
  font-size: 13px;
  line-height: 1.5;
  color: #ccc;
  margin-bottom: 10px;
}
#resources-toggle:checked + .dropdown-label + .dropdown-resources {
  display: flex;
}
.dropdown {
  position: relative;
}
.dropdown-company {
  display: none;
  position: absolute;
  background-color: #1A1A1A;
  color: white;
  top: 100%;
  left: 0;
  width: 250px;
  padding: 20px;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  flex-direction: column;
  gap: 10px;
}
.dropdown-company a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
#company-toggle:checked + .dropdown-label + .dropdown-company {
  display: flex;
}
.index-header {
  padding: 100px;
  text-align: center;
}
.index-heading {
  
  font-family: ""Factor A", Arial, Helvetica, sans-serif";
  font-size: 62px;
  font-weight: 649;
  color: white;
  line-height: 1.1;
 }
.text {
  background: linear-gradient(90deg, #d975e2, #87c4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.search-box {
  width: 39%;
  height: 59px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  border-radius: 9px;
}
 .index-search {
  border: none;
  outline: none;
  border-radius: 9px;
  padding: 18px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 548;
} 
.country-select {
  width: 39%;
  height: 59px;
  margin-left: 200px;
  width: 20%;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-right: none;
  border-bottom: none;
  border-top: none;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.start-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 550px;
}
.start-btn {
  width:28%;
  height: 60px;
  background-color: rgb(255, 98, 45);
  color: white;
  padding: 16px 32px;
  font-family: Inter, sans-serif;
  font-size: 19px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: lighter;
  position: relative;
  top: -60px;
}
.start-btn:hover {
  background-color: rgb(156, 44, 6);
}
.toolkit-section {
  text-align: center;
  margin-top: 15px;
}
.toolkit-section h2 {
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
}
.toolkit-buttons {
  display: flex;
  justify-content: center;  
  gap: 12px; 
  margin-top: 28px;
}
.toolkit-btn {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  padding: 16px 49px;
  border-radius: 999px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.toolkit-btn:hover {
  background-color:rgba(212, 209, 209, 0.15);
}
.card{
  border-radius: 25px;
  background-color: white;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: row;
  
}
.card-content{
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 20px 14px;
  background-color: white;
  border-radius: 25px;
}
.content{
  margin-left: 20px;
}
.name{
  font-size:30px;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}
.button{
  font-family: inherit;
  color:white;
  height: 50px;
  width: 100%;
  font-size:18px;
  font-weight: 500;
  padding: 5px 12px;
  outline: none;
  border: none;
  background-color: #ff622d;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  justify-content: center;
  margin-top: 50px;
}
.slide-container{
  padding: 40px;
  width: 500px;
  margin-top: 50px;
}
.card-image{
   width: 400px;
  padding: 10px 40px;
}
.trusted-section{
  text-align: center;
  margin-top: 70px;
}
.trusted-text {
  font-size: 18px;
  font-weight: 495;
  color: rgb(184, 128, 255)
}
.tlogo-image{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.enterprise-section {
  background-image: url('../image/background.png');
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 100px 80px;
}
.enterprise-content {
  color: white;
  max-width: 500px;
  margin-left: 50px;
}
.enterprise-heading {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.1;
  font-family: 'Segoe UI', sans-serif;
}
.enterprise-features {
  margin-top: 30px;
  list-style: none;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 50px;
 
}
.enterprise-logo span {
  font-weight: 400;
}
.enterprise-features li i{
  margin-right: 8px; 
}
.enterprise-btn {
  color: white;
  border: 1px solid white; 
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: lighter;
  background: transparent;
  width: 230px;
  height: 60px;
  position: relative;
  top: -30px;
}
.enterprise-image img {
  width: 135%; 
  position: relative;
  top: -445px;
  margin-left: 440px;
}
.second-section {
    background-color: white;
    border-radius: 120px;
    padding: 70px;            
    max-width: 100%;    
    margin: 5px;
}
.Marketing-heading{
  text-align: center;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: rgb(25, 27, 35);
  line-height: 1.2;
}
.Marketing-content{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.Mnumber{
  font-size: 70px;
  color: rgb(184, 128, 255);
  text-align: center;
  font-weight: bold;
  line-height: 1.6;
}
.Mcontent p{
  color: rgb(25, 27, 35); 
  font-size: 21px;
}
.inner-section{
  background-color: rgb(226, 202, 255);
  border-radius: 60px;
  padding: 70px; 
  width: 100%; 
  margin: 140px; 
  margin-left: 10px;
}
.inner-heading{
  color: #191b23;;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}
.four-box{
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin: 50px;
  margin-left: 10px;
  height: 150px;
  width: 100%;
}
.box{
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  width: 200px;
  text-align: center;
}
.Nbox{
  font-size: 56px;
  color: #b880ff;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.box p{
  color: rgb(25, 27, 35);
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.1;
  
  text-align: center;
}










 
 





